<div class="container mt">
    <h2>Registro</h2>
    <hr>
    <form (submit)="agregar()">
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <label class="">No.Empleado: </label>
                    <input type="number" class="form-control" name="noEmpleado" [(ngModel)]="nuevo.noEmpleado">
                </div>
            </div>
            <div class="col-7">
                <div class="form-group">
                    <label class="">Nombre: </label>
                    <input type="text" class="form-control" name="nombre" [(ngModel)]="nuevo.nombre">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <div class="form-group">
                    <label class="">Correo: </label>
                    <input type="email" class="form-control" name="correo" [(ngModel)]="nuevo.correo">
                </div>
            </div>
            <div class="col-5">
                <div class="form-group">
                    <label class="">Telefono: </label>
                    <input type="tel" class="form-control" name="telefono" [(ngModel)]="nuevo.telefono">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <label class="">Fecha Nacimiento: </label>
                    <input type="date" class="form-control" name="fechaNacimiento" [(ngModel)]="nuevo.fechaNacimiento">
                </div>
            </div>
            <div class="col-5">
                <div class="form-group">
                    <label class="mt-5">Sexo: </label>
                    <input class="radio" type="radio" name="sexo" value="Masculino" [(ngModel)]="nuevo.sexo"> <label>
                        Masculino</label>
                    <input class="radio" type="radio" name="sexo" value="Femenino" [(ngModel)]="nuevo.sexo"> <label>
                        Femenino</label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group mt-5">
                    <button class="btn btn-primary" type="submit">Agregar</button>
                </div>
            </div>
        </div>
    </form>
</div>